.About {
    background: rgba(252, 239, 239, 1);
    margin-top: 40px;
  }
  .About h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
  }
  .About h4 {
    text-align: center;
  }
  .About p {
    font-size: 20px;
    margin: 0 auto;
  }
  
  .About img {
    height: 600px;
    border-radius: 30px;
  }