.Footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color:rgba(224, 212, 227, 1) ;
    margin: 0px;
  }
  .Footer li {
    margin: 20px;
  }
  .Footer a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    font-weight: bold;
  }