section {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  }
.row {
  text-align: center;
  padding: 30px;
}
 
 
  section .col-sm-6 {
    margin-top: 20px;
  }
  section h4 {
    text-align: center;
    margin-top: 60px;
    font-size: 28px;
  }
  .card img {
    padding: 20px;
    margin-top: 10px;
  }
  .card-img-top {
    margin-bottom: 20px;
    height: 500px;
  }
  p {
    text-align: center;
  }
  .git a {
    font-size: 20px;
    color: black;
  }
  .card:hover {
    background-color: #D8D8D8;
  }


